// General
$primary: #7289da;
$primary-dark: #5e78d5;
$white: #fff;
$off-white: #f5f5f5;
$grey: #999;
$dark: #444;
$darker: #2c2f33;

// For Bulma
$navbar-background-color: $primary;
$navbar-item-hover-background-color: $primary-dark;
$navbar-dropdown-background-color: $primary;
$navbar-dropdown-item-active-color: $primary-dark;
$navbar-item-hover-color: $white;
$navbar-item-color: $white;
$navbar-burger-color: $white;
$navbar-dropdown-arrow: $white;
$title-color: $white;
$table-head-cell-color: $white;
$table-cell-heading-color: $white;
$table-background-color: $dark;