<%- include('../../partials/header.ejs') %>
<section class="hero is-medium is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bot Queue.
      </h1>
      <h2 class="subtitle">
        Accept / deny unapproved Discord bots.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-fluid">
    <br>
    <div class="_bot-list columns is-multiline is-mobile">
      <% if (botsData.length == 0) { %>
      <h3 class="title is-3">No bots available to list.</h3>
      <% } else { %>
      <%- botChunk.map(chunk => `${chunk.map(bot => include("../../partials/botcard.ejs", {bot, resubmit: false})).join("")}`).join("") %>
      <% } %>
    </div>
  </div>
</section>
<%- include('../../partials/footer.ejs') %>