<%- include('../../partials/header.ejs') %>
<section class="hero is-medium is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Documentation
      </h1>
      <h2 class="subtitle">
        All information you need to know.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-fluid has-text-white">
        <div class="content">
            <h2>Tutorials</h2>
            <ul>
            <li><a href="/docs/api">How to use our API.</a></li>
            <li><a href="/docs/license">Website License.</a></li>
            <li><a href="/docs/verification">How do I get my bot verified?</a></li>
            <li><a href="/docs/privacypolicy">Privacy Policy</a></li>
          </ul>
    </div>
  </div>
</section>
<%- include('../../partials/footer.ejs') %>