<%- include('../../partials/header.ejs') %>
<section class="hero is-medium is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Website License
      </h1>
      <h2 class="subtitle">
        Information about the website license.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-fluid has-text-white">
        <div class="content">
        <h1>License</h1>
        <p>All credit to the original logo goes to <a target="_blank"href="https://www.iconfinder.com/Sennerstad">Erik Ragnar Eliasson</a>. The logo was modified by Habchy to create a more modern aesthetic. All of the license requirements "Free for commercial use (Include link to authors website)" have been successfully met.</p>
    </div>
  </div>
</section>
<%- include('../../partials/footer.ejs') %>