<%- include('../../partials/header.ejs') %>
<section class="hero is-medium is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Verification Requirements
      </h1>
      <h2 class="subtitle">
        Requirements to get your bot verified.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-fluid has-text-white">
        <div class="content">
        <h1>Requirements</h1>
        <p>1. You automatically post server count using our API.<br>
                2. Your bot is 100% original and not forked from an existing bot.<br>
                3. Your bot must have 24/7 uptime. It is permitted to go down for maintence but please let us know.<br>
                4. Follow Discord's guidelines and terms of service.<br>
                5. An official support Discord server for your bot.<br>
                6. Your bot must have been on the website for at least 3 days.<br>
                7. Your bot should be in 100 or more guilds/servers.<br>
                8. You must have a widget of your bot on your bot's website or Github. Learn more here: <a href="/docs/api">https://botsfordiscord.com/docs/api</a><br>
                9. You must make use of your long description. That can be CSS, HTML, or Documentation of your bot.<br>
                10. You must stay in the server in order for your bot to stay verified. If you leave, you and your bot will be unverified.<br>
        </p>
        <p><strong>You are only allowed to apply once every three days.</strong></p>
        <p>If you think your bot meets these requirements you can continue and apply <strong><a href="/bots/verification">here</a></strong>.</p>
        <p>If you have any questions please ask a staff member on Discord server.</p>
    </div>
  </div>
</section>
<%- include('../../partials/footer.ejs') %>