<%- include('../partials/header.ejs') %>
<section class="hero is-medium is-info">
  <div class="hero-body">
    <div class="container">
        <h1 class="title">
          <%= status %>
        </h1>
        <h2 class="subtitle">
          <%= message %>
      </h2>
    </div>
  </div>
</section>
<div class="container">

</div>
<%- include('../partials/footer.ejs') %>